* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.contact-section {
  width: 600px;
  background: #24303c;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  font-family: 'calibri';
  color: white;

}
.contact-section label{
    font-size: 42px;
    margin-bottom: 30px;
    
    
}
.controls{
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 16px;
    border: 1px  solid #1f53c5;
    font-size: 18px;
    font-family: 'calibri';
}
.contact-section p{
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;

}
.contact-section a{
    color: white; 
   text-decoration: none;

}
.btn_main{
    display: inline-block;
    width: 30%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    font-weight: 600;
    line-height: 1.3125rem;
    margin-left: 10%;
    margin-top: 25px;
    border-radius: 10px;

    
    
}
.btn_limpiar{
    
    width: 30%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    font-weight: 600;
    line-height: 1.3125rem;
    margin-left: 15%;
    border-radius: 10px;
}
